.custom-bg{
   background:#9ccc65!important;
}

.admin .card{
    border:1px solid #673ab7;
}

.admin .card:hover{
    
    background: #ccffcc;
    cursor:pointer;
}

.list-group-item.active{
    background:#9ccc65!important;
    border-color: #9ccc65!important;
}